{{define "nav"}}
<nav>
    <div>
        <a href="/">Home</a>
        {{if .IsAuthenticated}}
            <a href="/snippets/create">Create Snippet</a>
        {{end}}
    </div>
    <div>
        {{if .IsAuthenticated}}
            <form method="POST" action="/users/logout">
                <button>Logout</button>
            </form>
        {{else}}
            <a href="/users/signup">Signup</a>
            <a href="/users/login">Login</a>
        {{end}}
    </div>
</nav>
{{end}}